.movie-box{
    max-width: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    border-radius: 5px;
}
.movie-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color:rgb(225, 241, 255);
}
.movie-title{
    width: 150px;
}
.overview {
    font-size: 0.9rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    max-height: 100%;
    overflow: auto;
}
.movie-box:hover{
    box-shadow: 2px 2px 5px rgb(91, 151, 204);
    transform: scale(1.1);
}
.movie-box:hover .overview{
    transform: translateY(0%);
}
